<!DOCTYPE html>
<html lang="en">
<head>
    <title>laminext</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png?v2">
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png?v2" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png?v2" sizes="16x16">
    <link rel="manifest" href="/manifest.json?v2">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg?v2" color="#5bbad5">
    <style type="text/css">
        .hidden-before-css {
            display: none;
        }
    </style>
    <style type="text/css" id="no-js">
        .hidden-if-no-js {
            visibility: hidden;
        }
    </style>
</head>

<body>
<div id="app" class="antialiased"></div>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    window.laminext.App.start();
  });
</script>
<div id="rcc-w">
</div>
</body>
</html>
