@import './fonts.css';
/*noinspection CssUnknownTarget*/
@import 'tailwindcss/base';
@import './base.css';

/*noinspection CssUnknownTarget*/
@import 'tailwindcss/components';
@import './components.css';

/*noinspection CssUnknownTarget*/
@import 'tailwindcss/utilities';
@import './utilities.css';

@import './markdown.css';

@import './setup.css';

@import './markdown.css';
