<!DOCTYPE html>
<html lang="en">
<head>
    <title>laminext</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0"/>
    <style id="no-js">.hidden-if-no-js { visibility: hidden; }</style>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <%- pl %>
</head>

<body>
<div id="app-container"></div>
<div id="menu-modal"></div>
<%- script %>
</body>
</html>